{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        #Chart1, #Chart2, #Chart3, #Chart4, #Chart5 {
            width: 200px;
            height: 200px;
        }
    </style>

</head>
<body>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"  ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"> </script>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/></svg>
                Spotify
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="display-2"><strong>Welcome, Admin</strong></h2>
        <p class="lead">Take a look at the new app stats.</p>
    </div>

    <div class="container mt-5">

        <!-- Fila 1-->
        <div class="row mt-4">

            <!-- Columna1-->
            <div class="col-md-6">
                <h2> nombre grafico</h2>
                <canvas id="Chart1"></canvas>
            </div>

            <!-- Columna 2-->
            <div class="col-md-6">
                <h2> nombre grafico</h2>
                <canvas id="Chart2"></canvas>
            </div>

        </div>

        <!-- Fila 2 -->
        <div class="row mt-4">

            <!-- Columna1-->
            <div class="col-md-6">
                <h2> nombre grafico</h2>
                <canvas id="Chart3"></canvas>
            </div>

            <!-- Columna 2-->
            <div class="col-md-6">
                <h2> nombre grafico</h2>
                <canvas id="Chart4"></canvas>
                </div>

        </div>

        <!-- Fila 3 -->
        <div class="row mt-4">

            <!-- Columna1-->
            <div class="col-md-12">
                <h2> nombre grafico</h2>
                <canvas id="Chart5"></canvas>
            </div>

        </div>

    </div>



  <script>
    const ctx1 = document.getElementById('Chart1').getContext('2d');
    const Chart1 = new Chart(ctx1, {
      type: 'pie',
      data: {
        labels: ['< 1 hora', '1 - 4 horas', '> 4 horas'],
        datasets: [{
          label: 'Frecuencia',
          data: [14, 36, 40],
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Intervalos de uso Promedio'
          }
        }
      }
    });
  </script>


  <script>
    const ctx2 = document.getElementById('Chart2')
    const Chart2 = new Chart(ctx2, {
      type: 'pie',
      data: {
        labels: ['Si', 'No'],
        datasets: [{
          label: 'Frecuencia',
          data: [69,21],
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: '% usuarios premiun'
          }
        }
      }
    });
  </script>


  <script>
    const ctx3 = document.getElementById('Chart3')
    const Chart3 = new Chart(ctx3, {
      type: 'pie',
      data: {
        labels: ['1', '2 - 10', '>10'],
        datasets: [{
          label: 'Frecuencia',
          data: [14, 52, 24],
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: '# playlists por usuario'
          }
        }
      }
    });
  </script>


  <script>
    const ctx4 = document.getElementById('Chart4')
    const Chart4 = new Chart(ctx4, {
      type: 'pie',
      data: {
        labels: ['Si', 'No'],
        datasets: [{
          label: 'Frecuencia',
          data: [30, 60],
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: '% uso como red social'
          }
        }
      }
    });
  </script>


  <script>
    const ctx5 = document.getElementById('Chart5')
    const Chart5 = new Chart(ctx5, {
      type: 'pie',
      data: {
        labels: ['Mantiene', 'Varia'],
        datasets: [{
          label: 'Color Distribution',
          data: [27, 63],
          backgroundColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Variación artista'
          }
        }
      }
    });
  </script>


    
    
</body>
</html>