{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"  ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"> </script>

    
    <h1> Parte 1</h1>
    <div>
        <canvas id="Chart1"></canvas>
    </div>

    <h1> Parte 2</h1>
    <div>
        <canvas id="Chart2"></canvas>
    </div>

    <h1> Parte 3</h1>
    <div>
        <canvas id="Chart3"></canvas>
    </div>
    
    <script>
        const ctx = document.getElementById("Chart1");

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>